<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cricketsort_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cricketsort_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ryg.TitleScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ryg.SelectCategory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ryg.CardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        />
        <activity
            android:name="com.ryg.SelectPositions"
            android:theme="@style/AppTheme.NoActionBar" /><![CDATA[
        />
        ]]>
        <activity
            android:name="com.ryg.cardDesc"
            android:theme="@style/AppTheme.CustomPopup" />
        <activity android:name="com.ryg.SecondSort" />
        <activity android:name="com.ryg.CreateUser" />
        <activity android:name="com.ryg.introduction" />
        <activity
            android:name="com.ryg.OutputActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ryg.ReviewSort"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ryg.DateFrag"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>